<!DOCTYPE html>
<html>
  <head> 
      <title>JobHelp</title>
      <link rel="stylesheet" href="../static/style.css">
  </head>
  <body> 
      <h1>JobHelp</h1>

      <div class="form-container">

        <label for="keywordInput">Enter jobs that you're interested in!</label>
        <input type="text" id="keywordInput" placeholder="Software Developer, Web Intern" required>

        <label for="location">Location:</label>
        <select id="location">
          <option value="Canada">Any location (Canada) </option>
          <option value="Alberta">Alberta</option>
          <option value="British Columbia">British Columbia</option>
          <option value="Manitoba">Manitoba</option>
          <option value="New Brunswick">New Brunswick</option>
          <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
          <option value="Northwest Territories">Northwest Territories</option>
          <option value="Nova Scotia">Nova Scotia</option>
          <option value="Nunavut">Nunavut</option>
          <option value="Ontario">Ontario</option>
          <option value="Prince Edward Island">Prince Edward Island</option>
          <option value="Quebec">Quebec</option>
          <option value="Saskatchewan">Saskatchewan</option>
          <option value="Yukon">Yukon</option>
        </select>

        <hr>

        <h2>Additional Filters:</h2>
        <h3>How many pages of results to load:</h3>
        <div class="filter-section">
          <p>Results depth (pages to preload):</p>

          <label class="page-option">
            <input type="checkbox" name="pageCount" value="1"> 1
          </label>

          <label class="page-option">
            <input type="checkbox" name="pageCount" value="2"> 2
          </label>

          <label class="page-option">
            <input type="checkbox" name="pageCount" value="3"> 3
          </label>

          <label class="page-option">
            <input type="checkbox" name="pageCount" value="4"> 4
          </label>

          <label class="page-option">
            <input type="checkbox" name="pageCount" value="5"> 5
          </label>
        </div>

        <button id="searchBtn">Search</button>

        <label for="sortOption">Sort preloaded pages by:</label>
        <select id="sortOption">
            <option value="relevance">Relevance</option>
            <option value="newest">Newest</option>
        </select>

        <aside class="favorites-panel">
          <h2>Favorites</h2>
          <div id="favoritesList"></div>
        </aside>
      </div>

    <h3>Results:</h3>
    <div id="results" role="tab" aria-selected="false" hidden>
    </div>

    <button id="loadMoreBtn" hidden>Load More</button>

    <script src="../static/script.js"></script>
  </body>
</html>